*.xcodeproj

*.d
*.o
*.so
*.dSYM
myaf
myafDict*
.*project
.settings
webmaker
.history
*.list.dir
tmp.*
.root_hist
repopulate/copymacro.C
repopulate/*.list*
repopulate/*.err
repopulate/*.out
repopulate/*.log
*.rpm


